Repository falcosecurity/plugin-sdk-rs, pull requests merged in 2024-12, with the labels that each got.

#25 fix(build): fix non_local_definitions warning in Rust 1.83
  falco_plugin/src/plugin/base/wrappers.rs
Labels: kind/bug, area/build, dco-signoff: yes, size/XS, release-note-none, lgtm, approved

#27 fix(plugin): export read-only table fields to the plugin API
  falco_plugin/src/plugin/exported_tables/field/readonly.rs
  falco_plugin_tests/tests/parse_table_api.rs
Labels: kind/bug, area/plugin, dco-signoff: yes, release-note-none, lgtm, approved, size/S

#28 fix(runner): match event source name properly (not plugin name)
  falco_plugin_runner/src/plugin/mod.rs
  falco_plugin_tests/tests/dummy_syscall_source.rs
Labels: kind/bug, area/plugin_tests, dco-signoff: yes, release-note-none, lgtm, approved, size/L

#30 fix(runner): validate async event names
  falco_plugin_runner/src/plugin/async_event.rs
  falco_plugin_tests/tests/async.rs
Labels: kind/bug, area/plugin_tests, dco-signoff: yes, release-note-none, lgtm, approved, size/M

#31 new(runner): report text errors from async event handler
  falco_plugin_runner/src/plugin/async_event.rs
Labels: kind/feature, area/plugin_tests, dco-signoff: yes, release-note-none, lgtm, approved, size/M

#32 new(AsyncEventPlugin): helper to create async events
  falco_plugin/src/lib.rs
  falco_plugin/src/plugin/async_event/mod.rs
  falco_plugin_tests/tests/async.rs
Labels: kind/feature, area/plugin, area/plugin_tests, dco-signoff: yes, lgtm, approved, size/M, release-note

#33 fix(plugin): match erase/add_entry behavior with libs
  falco_plugin/src/plugin/exported_tables/wrappers.rs
Labels: kind/bug, area/plugin, dco-signoff: yes, size/XS, release-note-none, lgtm, approved

#35 fix(plugin): let field setters take any TableWriter
  falco_plugin/src/plugin/tables/macros.rs
Labels: kind/bug, area/plugin, dco-signoff: yes, size/XS, release-note-none, lgtm, approved
