Repository falcosecurity/plugin-sdk-rs, pull requests merged in 2024-10, with the labels that each got.

#2 docs(README.md): update GH pages URL
  README.md
Labels: kind/documentation, dco-signoff: yes, size/XS, release-note-none, lgtm, approved

#10 fix(plugin): lazily create error objects
  falco_plugin/src/plugin/base/wrappers.rs
  falco_plugin/src/plugin/exported_tables/table.rs
  falco_plugin/src/plugin/listen/mod.rs
  falco_plugin/src/plugin/parse/mod.rs
  falco_plugin/src/plugin/tables/entry/mod.rs
  falco_plugin/src/plugin/tables/table/raw.rs
  falco_plugin_tests/tests/extract.rs
  falco_plugin_tests/tests/parse.rs
  falco_plugin_tests/tests/parse_runtime.rs
  falco_plugin_tests/tests/parse_table_api.rs
  falco_plugin_tests/tests/parse_table_nested.rs
Labels: kind/bug, area/plugin, dco-signoff: yes, release-note-none, lgtm, approved, size/M

#7 new(plugin): validate key types at runtime (including nested tables)
  falco_plugin/src/plugin/tables/table/mod.rs
  falco_plugin/src/plugin/tables/table/raw.rs
  falco_plugin_tests/tests/scap_import_table_bad_key_type.rs
Labels: kind/feature, area/plugin, dco-signoff: yes, release-note-none, lgtm, approved, size/L

#15 chore: unify versioning across crates, preparing for 0.4
  Cargo.lock
  falco_event/Cargo.toml
  falco_event_derive/Cargo.toml
  falco_plugin/Cargo.toml
  falco_plugin/README.md
  falco_plugin_api/Cargo.toml
  falco_plugin_derive/Cargo.toml
  falco_plugin_runner/Cargo.toml
  falco_plugin_tests/Cargo.toml
Labels: kind/cleanup, area/build, dco-signoff: yes, release-note-none, lgtm, approved, size/M

#17 update(event): update event schema
  falco_event/api/event_table.c
  falco_event/src/events/types.rs
Labels: kind/feature, area/event, dco-signoff: yes, release-note-none, lgtm, approved, size/S

#24 fix(docs): broken link in top-level README
  README.md
Labels: kind/bug, kind/documentation, area/plugin, dco-signoff: yes, size/XS, release-note-none, lgtm, approved
